<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tiregdev.sippkling">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.splashscreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.login" />
        <activity android:name=".Activity.Menu_utama" />
        <activity
            android:name=".Activity.jasaboga"
            android:label="Jasa Boga"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.restoran"
            android:label="Tempat Makan"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.dam"
            android:label="Depot Air Minum"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.tempatibadah"
            android:label="Tempat Ibadah"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.pasar"
            android:label="Pasar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.sekolah"
            android:label="Sekolah"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.pesantren"
            android:label="Pesantren"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.kolamrenang"
            android:label="Kolam Renang"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.hotel"
            android:label="Hotel"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.hotelmelati"
            android:label="Hotel Melati"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.puskesmas"
            android:label="Puskesmas" />
        <activity
            android:name=".Activity.rumahsakit"
            android:label="Rumah Sakit" />
        <activity
            android:name=".Activity.klinik"
            android:label="Klinik" />
        <activity android:name=".Activity.form_rumahsehat"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Rumah Sehat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_sabpompa"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form SAB Pompa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_jasaboga"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Jasaboga"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_restoran"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Restoran"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_dam"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Depot Air Minum"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_tempatibadah"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Tempat Ibadah"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_pasar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Pasar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_sekolah"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sekolah"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_pesantren"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Pesantren"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_hotel"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Hotel"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_hotelmelati"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Hotel Melati"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_kolamrenang"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Kolam Renang"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_klinik"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Klinik"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_puskesmas"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Puskesmas"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_pkl"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form PKL"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_rumahsakit"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Rumah Sakit"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.sab"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Jenis SAB"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_sab_sumurgali"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sumur Gali"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.form_sab_sumurgaliplus"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sumur Gali Plus"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
    </application>

</manifest>