<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.tiregdev.sippkling">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name=".Activity.SplashScreenActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MenuActivity" />
        <activity
            android:name=".Activity.ListDataActivity"
            android:label="Jasa Boga"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".Activity.FormRumahsehatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Rumah Sehat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormSABPompaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form SAB Pompa"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormJasabogaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Jasaboga"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormRestoranActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Restoran"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormDamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Depot Air Minum"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormTempatIbadahActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Tempat Ibadah"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormPasarActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Pasar"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormSekolahActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sekolah"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormPesantrenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Pesantren"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormHotelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Hotel"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormHotelMelatiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Hotel Melati"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormKolamActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Kolam Renang"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormKlinikActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Klinik"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormPuskesmasActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Puskesmas"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormPKLActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form PKL"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormRumahsakitActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Rumah Sakit"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormSABSumurGaliActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sumur Gali"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
        <activity android:name=".Activity.FormSABSumurGaliPlusActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Form Sumur Gali Plus"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize|stateHidden"/>
    </application>

</manifest>